<html>
    <head>
        <title>protomaps-themes</title>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>

        <!-- leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.sync@0.2.4/L.Map.Sync.js"></script>
        <script src="https://unpkg.com/leaflet-hash@0.2.1/leaflet-hash.js"></script>

        <!-- gl -->
        <script src="https://cdn.protomaps.com/maplibre-gl-js/1.13.0pm1/mapbox-gl.js"></script>
        <link rel="stylesheet" href="https://cdn.protomaps.com/maplibre-gl-js/1.13.0pm1/mapbox-gl.css">
        <script src="https://unpkg.com/mapbox-gl-leaflet@0.0.15/leaflet-mapbox-gl.js"></script>

        <!-- our stuff -->
        <script src="https://unpkg.com/protomaps-themes-base@latest/dist/index.js"></script>
        <!-- <script src="base/dist/index.js"></script> -->
        <script src="https://unpkg.com/protomaps@0.3.6/dist/protomaps.min.js"></script>
        <style>
            body, #map {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="app" class="flex">
            <div class="flex flex-column vh-100" v-bind:class="[ compare ? 'w-50' : 'w-100' ]">
                <div class="flex flex-grow-0 fw6 justify-between h3 items-center ph3">
                    <span>
                        protomaps-themes
                    </span>
                    <span>
                        <select v-model="leftSelection">
                            <option value="osm_carto">openstreetmap carto</option>
                            <option value="toner_raster">stamen toner (raster)</option>
                            <option value="gl_light">GL Light</option>
                            <option value="canvas_light">Canvas Light</option>
                        </select>
                    </span>
                    <span>
                        <span v-on:click="openCompare" v-if="!compare" class="bg-moon-gray pointer dim pa1">
                            compare ⇤
                        </span>
                    </span>
                </div>
                <div class="flex-grow h-100 flex" id="map-left"></div>
            </div>
            <div v-if="compare" class="flex flex-column vh-100 w-50 bg-moon-gray">
                <div class="flex flex-grow-0 justify-between h3 items-center ph3">
                    <span>
                    </span>
                    <span>
                        <select v-model="rightSelection">
                            <option value="osm_carto">openstreetmap carto</option>
                            <option value="toner_raster">stamen toner (raster)</option>
                            <option value="gl_light">GL Light</option>
                            <option value="canvas_light">Canvas Light</option>
                        </select>
                    </span>
                    <span v-on:click="closeCompare" v-if="compare" class="bg-white pointer dim pa1">
                        close ⇥
                    </span>
                </div>
                <div class="flex-grow h-100 flex" id="map-right"></div>
            </div>
        </div>
    </body>
    <script>
        const DEMO_KEY = "1003762824b9687f" // only works on gh-pages, get your own at https://protomaps.com
        const VECTOR_TILES_URL = 'https://api.protomaps.com/tiles/v2/{z}/{x}/{y}.pbf?key=' + DEMO_KEY

        const OPTIONS = {
            'osm_carto':{
                type:'raster',
                url:'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            },
            'toner_raster':{
                type:'raster',
                url:'https://stamen-tiles.a.ssl.fastly.net/toner/{z}/{x}/{y}@2x.png',
                attribution:'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.'
            },
            'gl_light':{
                type:'gl'
            },
            'canvas_light':{
                type:'canvas'
            }
        }

        let json_style = protomaps_themes_base.json_style({
            glyphs:'https://cdn.protomaps.com/fonts/pbf/{fontstack}/{range}.pbf',
            tiles:VECTOR_TILES_URL
        })

        const mountMap = (map, selection) => {
            let opt = OPTIONS[selection]
            if (opt.type === 'gl') {
                L.mapboxGL({
                    style: json_style
                }).addTo(map)
            } else if (opt.type === 'raster') {
                L.tileLayer(opt.url, {
                    attribution: opt.attribution
                }).addTo(map)
            } else if (opt.type === 'canvas') {
                (new protomaps.LeafletLayer({
                    url:VECTOR_TILES_URL
                })).addTo(map)
            } else {
                throw Error("Not recognized")
            }
        }

        var search = new URLSearchParams(window.location.search)
        var app = new Vue({
            el: '#app',
            data: {
                leftSelection:search.get('map') || 'osm_carto',
                rightSelection:search.get("compare") || 'toner_raster'
            },
            methods: {
                openCompare: function() { this.rightSelection = 'osm_carto' },
                closeCompare: function() { this.rightSelection = undefined }
            },
            computed: {
                compare: function() { return this.rightSelection != undefined }
            },
            mounted: function () {
                let mapLeft = L.map('map-left')
                if (!window.location.hash) mapLeft.setView([51.505, -0.09], 13)
                let hsh = new L.Hash(mapLeft)
                hsh.update() // force immediately as we need to read the center
                mountMap(mapLeft,this.leftSelection)
                if (this.rightSelection != undefined) {
                    let mapRight = L.map('map-right',{
                        doubleClickZoom: false,
                        touchZoom: false,
                        scrollWheelZoom: false,
                        zoomControl:false
                    })
                    mapRight.dragging.disable()
                    mapLeft.sync(mapRight)
                    mountMap(mapRight,this.rightSelection)
                }
            }, updated: function() {
                const params = new URLSearchParams()
                params.set("map",this.leftSelection)
                if (this.rightSelection) params.set("compare",this.rightSelection)
                window.location.search = params.toString()
            }
        })
    </script>
</html>