name: Build App
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - run: echo "VITE_GIT_SHA=$(git rev-parse --short HEAD)" >> app/.env
      - name: Check styles
        run: npm install && npx tsc --noEmit && npx biome ci
        working-directory: styles
      - run: npm install && npx tsc --noEmit && npx biome ci && npx vite build
        working-directory: app
      - run: python .github/check_examples.py
      - uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./app/dist
          force_orphan: true
          cname: maps.protomaps.com
